/* src/App.css */
/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
}


h1 {
  color: #ff0000;
}

p {
  font-size: 1.2rem;
}
button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #cc0000;
}

/* src/App.css */
.back-home-btn {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 30px;  /* Space above the button */
  display: inline-block;
}

.back-home-btn:hover {
  background-color: #cc0000;
}

